@font-face {
    font-family: "Outfit";
    src: ('path/to/Outfit-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "Outfit";
    src: url('path/to/Outfit-Bold.ttf') format('truetype'); /* Path to the bold font file */
    font-weight: 700; /* Bold weight */
}

body{
    font-family: "Outfit", sans-serif;    
    padding: 50px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 20px;
    max-width: 500px;
    height: 50%;
    border-radius: 10px;
}

.container img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content{
    text-align: center;
    margin-bottom: 20px;
}

.content p{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.mentor{
    text-align: center;
    display: inline-block;
}
