body{
font-family: url(https://fonts.google.com/specimen/Outfit);
padding: 50px;
background-color: hsl(212, 45%, 89%);
}

.container {
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    height: 50%;
    border-radius: 20px;
}

.container img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.content{
    text-align: center;
}

.content p{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

